.carousel-item {
    padding: 0;
}

.home-slider h5{
    font-size: 60px;
}

.home-slider p{
    font-size: 30px;
}

.carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
}

.btn {
    color: #af8626;
    background-color: rgba(255,255,0,0.0);
    border-color: #cfa440;
}

.btn:hover {
    color: rgb(255, 255, 255);
    background: #cfa440;
    border-color: #cfa440;
}

small {
    color: #045a2d
}

.page-link {
    color: #cfa440
}

body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #045a2d;
}

.text-lin {
    color: #cfa440
}

.text-lin:hover {
    color: #86661a;
    text-decoration: none
}

.text-lin.foot:hover {
    color: #ecc976;
    text-decoration: none
}

h5 {
    color: #045a2d;
}

h2 {
    color: #045a2d;
}

.form-signin {
    margin-left: auto;
    margin-right: auto;
}